certifi==2022.5.18.1
cfdiclient==1.5.6
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
et-xmlfile==1.1.0
idna==3.3
lxml==4.8.0
openpyxl==3.0.10
pycparser==2.21
pycryptodome==3.14.1
pyOpenSSL==22.0.0
requests==2.27.1
urllib3==1.26.9
